{% extends "layout.html" %}

{% block body %}
    <div class="blog">
        <p>{{ blog.body|safe }}</p>
        <span>By <a href="{{ url_for('accounts.display', username=blog.author.username) }}">{{ blog.author.display }}</a> on {{ blog.created_at|formatdatetime('tiny') }} under {% for category in blog.categories %}<a href="{{ url_for('categories.display', slug=category.slug) }}">{{ category.title }}&ensp;</a>{% endfor %}</span>
        {% if blog.updated_at %}
            <br/>
            <span><b>Updated on {{ blog.updated_at|formatdatetime('tiny') }}</b></span>
        {% endif %} 
    </div>
    {% if blog.comment and form %}
        </br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.body(size=32) }}
                {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% if comments %}
        <h3>Comments</h3>
        <div class="comments">
            {% for comment in comments %}
                <div class="comment">
                    {{ comment.level|renderwhitespace|safe }}
                    <span><a href="{{ url_for('accounts.display', username=comment.author.username) }}">{{ comment.author.display }}</a> <small>({{ comment.created_at|formatdatetime('tiny') }})</small>:</span>
                    <span>{{ comment.body }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock body %}
